.game {
  --main-bg-color: #3e495e;
  width: 100%;
  height: 100%;
  background: var(--main-bg-color);
  background: radial-gradient(circle, var(--main-bg-color) 0%, #1a1c25 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 30px;
  box-sizing: border-box;
  position: relative;

  * {
    font-family: "Inter", "Roboto", "sans-serif";
  }

  .flashlight {
    top: 0;
    left: 0;
    background-color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.007;
  }

  .playable-area {
    width: 100%;
    flex: 1;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: url("./components/Gun/crosshair.cur"), crosshair;
    position: relative;
    overflow: visible;
    transition: filter 0.3s ease;

    &:active {
      cursor: url("./components/Gun/crosshair_down.cur"), crosshair;
    }

    * {
      user-select: none;
    }

    &.blur {
      transition: filter 0.5s ease;
      filter: blur(15px);
    }
  }

  .overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .mini-logo {
    height: 13px;
    position: fixed;
    z-index: 4;
    bottom: 15px;
    left: 15px;
    opacity: 0.2;
  }
}
