.game {
  .game-options {
    --text-size: 16px;
    --border-thickness: 1px;
    --border-color: rgba(255, 255, 255, 0.3);
    transition: opacity 0.3s ease;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:not(.visible) {
      visibility: hidden;
    }

    &.visible {
      transition: opacity 1s ease;
      opacity: 1;
    }

    &-credits {
      font-size: 11px;
      color: white;

      a {
        text-decoration: none;
        font-weight: bold;
        color: #4677f5;

        &:hover {
          color: #6890f5;
        }
      }
    }

    .game-option-group {
      margin-bottom: 10px;

      .game-option:first-child {
        border-radius: 0.25rem 0.25rem 0 0;
        padding-top: 26px;
      }

      .game-option:last-child {
        border-radius: 0 0 0.25rem 0.25rem;
        padding-bottom: 26px;
      }

      .game-option {
        height: 34px;
        display: grid;
        align-items: center;
        grid-template-columns: 330px 95px;
        gap: 20px;
        margin-bottom: 1px;
        background-color: #7c92c91f;
        padding: 12px 35px;

        label {
          color: white;
          font-size: var(--text-size);
          padding-left: 5px;

          .help-text {
            margin-top: 4px;
            font-size: 11px;
            opacity: 0.7;
          }
        }
      }
    }
  }

  input,
  select {
    outline: none;
    appearance: none;
    border: none;
  }

  .input {
    padding: 3px 5px;
    text-align: center;
    font-size: var(--text-size);
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: var(--border-thickness) solid var(--border-color);
    -moz-appearance: textfield;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .checkbox {
    --size: calc(var(--text-size) + 8px);
    position: relative;
    cursor: pointer;
    width: var(--size);
    height: var(--size);
    margin: 0 auto;

    &::before {
      box-sizing: border-box;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      border: 1px solid var(--border-color);
      position: absolute;
      content: "";
      background-color: rgba(0, 0, 0, 0);
      transition: all 0.2s ease;
      font-size: calc(var(--size) - 10px);
    }

    &:checked:before {
      border: var(--border-thickness) solid #4677f5;
      background-color: #4677f5;
      color: white;
      content: "\f00c";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      display: grid;
      place-items: center;
      transition: all 0.2s ease;
    }
  }

  .select-wrapper {
    position: relative;
    height: 28px;
    background-color: #4677f5;
    border-radius: 0.25rem;
    color: white;

    .select {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 5px 8px;
      box-sizing: border-box;
      font-size: 14px;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0);
      color: white;

      option {
        color: black;
      }
    }

    .chevron {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      display: grid;
      place-items: center;
      padding: 0 8px;
      font-size: 13px;
      box-sizing: border-box;
      z-index: 1;
      padding-top: 2px;

      .fas {
        font-family: "Font Awesome 5 Free";
      }
    }
  }
}
