.game {
  --main-bg-color: #363e54;
  width: 100%;
  height: 100%;
  background: var(--main-bg-color);
  background: radial-gradient(circle, var(--main-bg-color) 0%, #1a1c25 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", "sans-serif", "Arial";
  padding: 12px 30px;
  box-sizing: border-box;
  position: relative;

  .flashlight {
    top: 0;
    left: 0;
    background-color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.007;
  }

  .playable-area {
    width: 100%;
    flex: 1;
    user-select: none;
    display: flex;
    align-items: center;
    cursor: crosshair;
    position: relative;
    overflow: hidden;
    transition: filter 0.3s ease;

    * {
      user-select: none;
    }

    &.blur {
      transition: filter 0.5s ease;
      filter: blur(15px);
    }
  }

  .game-options-button {
    appearance: none;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 15px;

    .key {
      border: 1px solid white;
      padding: 10px;
      font-size: 10px;
      letter-spacing: 1px;
      border-radius: 5px;
      margin-right: 12px;
    }

    &:hover .key {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
