.game {
  .game-options {
    transition: opacity 0.3s ease;
    opacity: 0;

    &:not(.visible) {
      visibility: hidden;
    }

    &.visible {
      transition: opacity 1s ease;
      opacity: 1;
    }

    .option {
      height: 30px;
      display: grid;
      align-items: end;
      grid-template-columns: 450px 80px;
      gap: 20px;
      margin-bottom: 20px;

      label {
        color: white;
        font-size: 18px;
      }
    }
  }

  input {
    outline: none;
    appearance: none;
    border: none;
  }

  .input {
    padding: 3px 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 2px solid white;
  }

  .checkbox {
    --size: 25px;
    position: relative;
    cursor: pointer;
    width: var(--size);
    height: var(--size);
    margin: auto;

    &::before {
      box-sizing: border-box;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      border: 2px solid white;
      position: absolute;
      content: "";
      background-color: rgba(0, 0, 0, 0);
      transition: all 0.2s ease;
      font-size: calc(var(--size) - 10px);
    }

    &:checked:before {
      border: 2px solid #4677f5;
      background-color: #4677f5;
      color: white;
      content: "\f00c";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      display: grid;
      place-items: center;
      transition: all 0.2s ease;
    }
  }
}
